<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <header>
    <nav class="fixed w-full z-20 top-0 left-0 ">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 ">
        <a routerLink="/" class="flex items-center">
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">MYBOOK</span>
        </a>

        <div class="items-center  hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">

          <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a routerLink="/"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                aria-current="page">Home</a>
            </li>
            <li>
              <a routerLink="/book"
                class="block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Book</a>
            </li>

          </ul>
          <div class="ml-32">
            <button routerLink="/login" class="rounded-2xl bg-white px-10 py-1">Login</button>
          </div>
        </div>
      </div>
    </nav>



  </header>

  <section class="bg-white dark:bg-gray-900  ">
    <div class="grid lg:gap-8 xl:gap-0  lg:grid-cols-12">
      <div class="place-self-center lg:col-span-7  mt-32">
        <h1 class="mb-4 text-2xl font-extrabold leading-none md:text-2xl xl:text-7xl dark:text-white">
          {{"read and add" | uppercase}}

        </h1>
        <h1 class="mb-4 text-2xl font-extrabold leading-none md:text-2xl xl:text-7xl dark:text-white">
          {{"your insight" | uppercase}}

        </h1>
        <p class="mb-6 font-light text-gray-500 lg:mb-8 md:text-lg  dark:text-gray-400">From
          find your favorite book and read it here for free

        </p>
        <a href="#"
          class="inline-flex justify-center items-center py-3 px-5 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
          Login
          <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>

      </div>
      <div class="relative lg:mt-0 lg:col-span-5 lg:flex">
        <img src="../../assets/images/home/wave.svg" alt="mockup">
        <img src="../../assets/images/home/read.svg" alt="mockup" class="absolute bottom-0  left-36"
          style="width: 350px;">
      </div>

    </div>
  </section>
  <section class=" mt-10 flex">
    <div
      class="bg-gray-100 gap-10 flex justify-evenly flex-wrap mx-20 my-10 w-full p-10 border border-gray-200 rounded-lg shadow">
      <div *ngFor="let book of books">

        <div
          class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-lg">
          <img class="object-cover w-full rounded-t-lg h-60  md:w-48 md:rounded-none md:rounded-l-lg"
            src="../../assets/images/book/{{book.bookImage}}" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
              {{book.title}}
            </h5>
            <span class="text-yellow-300 text-xl">{{book.author}}</span>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3">
              {{book.description}}
            </p>
            <div class="flex gap-4 justify-center mt-4">
              <a class="py-2 px-4 rounded-lg border border-yellow-300 text-yellow-300 hover:bg-yellow-300 hover:text-white"
                [routerLink]="['/book', book.id]">View</a>
              <button
                class="py-2 px-4 rounded-lg border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white">Edit</button>
              <button class="py-2 px-4 rounded-lg border border-red-600 text-red-600 hover:bg-red-600 hover:text-white"
                (click)="deleteBookById(book.id)">Delete</button>

              <!-- Open the modal using ID.showModal() method -->
              <button class="btn" onclick="my_modal_1.showModal()">open modal</button>
              <dialog id="my_modal_1" class="modal">
                <form method="dialog" class="modal-box">
                  <h3 class="font-bold text-lg">Hello!</h3>
                  <p class="py-4">Press ESC key or click the button below to close</p>
                  <div class="modal-action">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                  </div>
                </form>
              </dialog>



            </div>
          </div>
        </div>
      </div>



    </div>
  </section>

</body>

</html>
